$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 750px;
$desktopXS: 1024px;
$desktop: 1170px;
$desktopM: 1280px;
$desktopL: 1360px;
$max-width: 1920px;

$retina-dppx: 1.5dppx;

$font: "Futura", "Arial", sans-serif;
$color-text: #3f4850;
$color-text-white: #ffffff;
$color-white: #ffffff;
$color-accent: #f1cb3f;
$color-dark: #3f4850;
