.intro__wrap {
  position: relative;
  width: 100%;
  max-width: $max-width;
  height: 100vh;
  margin: 0 auto;
}

.intro {
  position: relative;
  z-index: 1;
}

// .intro__content-container {
//   position: absolute;
//   top: 0;
//   left: 50%;
//   transform: translateX(-50%);
//   width: 100%;
//   max-width: $desktopL;
//   margin: 0 auto;
// }


@media (min-width: $desktopXS) {
  .intro__wrap {
    height: 100vh;
  }
}
