.link {
  position: relative;
  padding-left: 35px;
  color: $color-text;
  text-decoration: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 100%;
  }
  
  &::before {
    left: 9px;
    width: 10px;
    height: 10px;
    background-color: $color-text;
  }

  &::after {
    width: 28px;
    height: 28px;
    border: 1px solid transparent;
  }
}

.link:hover {
  color: $color-accent;

  &::before {
    background-color: $color-accent;
  }

  &::after {
    border: 1px solid $color-accent;
  }
}