.service-info__wrap {
  background-color: $color-dark;
}

.service-info {
  padding: 30px 15px;
  padding-top: 1px;
}

.service-info__title {
  margin-bottom: 50px;
  color: $color-text-white;
}

.service-info__list {
  @include list-reset;
}

.service-info__name {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: baseline;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-left: 55px;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #82888d;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  transition: color 0.2s linear;
  cursor: pointer;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   border: 10px solid transparent;
  //   border-top: 10px solid $color-white;
  //   right: 0;
  // }

  // &::before {
  //   content: "";
  //   position: absolute;
  //   bottom: 0;
  //   left: 50%;
  //   z-index: -1;
  //   transform: translate(-60%, 20%) rotate(45deg);
  //   width: 40px;
  //   height: 40px;
  //   background-color: $color-dark;
  // }
}

.service-link__icon {
  position: absolute;
  left: 0;
  bottom: 6px;
  margin-right: 20px;
  fill: #82888d;

  transition: fill 0.2s linear;
}

.service-link__arrow {
  position: absolute;
  right: 0;
  top: 18px;
  width: 20px;
  height: 20px;
  fill: #82888d;

  transition: fill 0.2s linear;
}

.service-info__text {
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 30px 15px;
  background-color: $color-white;

  display: none;
}

.service-info__text h3 {
  display: none;
  margin: 0;
  font-size: 25px;
}

.service-link__icon--big {
  display: none;
  fill: $color-dark;
}

.service-info__text p {
  margin: 0;
}

.service-info__btn {
  min-width: 250px;
  margin-top: 25px;
}

.service-info__name:hover,
.service-info__name.active {
  color: $color-white;
}

.service-info__name:hover .service-link__icon,
.service-info__name.active .service-link__icon,
.service-info__name:hover .service-link__arrow,
.service-info__name.active .service-link__arrow {
  fill: $color-white;
}

@media (min-width: $tablet) {
  .service-info__title {
    margin-bottom: 70px;
  }

  .service-info__name {
    margin-bottom: 15px;
    margin-left: 50px;
    font-size: 25px;

    cursor: pointer;
  }
}

@media (min-width: $desktopXS) {
  .service-info__wrap {
    position: relative;
    background-color: $color-white;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      background-color: $color-dark;
    }
  }

  .service-info__list {
    width: 50%;
  }

  .service-info {
    position: relative;
    padding: 60px 15px;
    padding-top: 1px;

    &::before {
      content: "";
      position: absolute;
      top: 150px;
      left: 50%;
      z-index: 1;
      transform: translateX(-50%) rotate(45deg);
      width: 40px;
      height: 40px;
      background-color: $color-dark;
    }
  }

  .service-info__title {
    margin-bottom: 80px;
  }

  .service-info__name {
    display: inline-block;
    margin-left: 100px;

    &::before,
    &::after {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: -1;
      transform: translate(-60%, 20%) rotate(45deg);
      width: 40px;
      height: 40px;
      background-color: $color-dark;
    }
  }

  .service-link__arrow {
    display: none;
  }

  .service-info__text {
    display: block;
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 50%;
    right: 15px;
    // z-index: -1;
    // transform: translateX(-100%);

    width: 50%;
    margin: 0;
    padding-right: 60px;
    padding-left: 80px;

    opacity: 0;
    transition: opacity 0.2s linear;
  }

  .service-info__text h3 {
    display: block;
    margin: 30px 0;
  }

  .service-info__btn {
    margin-top: 50px;
  }

  .service-link__icon--big {
    display: block;
  }

  .service-info__text.active {
    opacity: 1;
  }
}

@media (min-width: $desktopM) {
  .service-info {
    padding: 60px;
    padding-top: 1px;
  }

  .service-info__text {
    padding-left: 120px;
  }

  .service-info__name {
    margin-left: 160px;
  }
}
