.slider-counter {
  color: $color-white;
}

.slider-counter__current {
  font-size: 50px;
  line-height: 1;
  font-weight: 500;
}

.slider-counter__all {
  margin-top: 15px;
  font-size: 24px;
  line-height: 1;
}
