.title {
  position: relative;
  margin: 25px 0;
  margin-left: 20%;
  padding-left: 10px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  color: $color-accent;

  &::after {
    content: "";
    position: absolute;
    left: -9999px;
    right: 100%;
    top: 13px;
    height: 1px;
    background-color: $color-accent;
  }
}

.title--small {
  font-size: 26px;
}

.title--white {
  color: $color-text-white;
}

@media (min-width: $tablet) {
  .title {
    margin: 30px 0;
    margin-left: 32%;
    font-size: 40px;
  }

  .title--small {
    font-size: 30px;
  }
}

@media (min-width: $desktopM) {
  .title {
    font-size: 50px;
  }

  .title--small {
    font-size: 35px;
  }
}
